terraform/*/.terraform
terraform/*/.terraform.lock.hcl
terraform/*/terraform.tfstate
terraform/*/terraform.tfstate.backup
terraform/*/terraform.tfstate.d
terraform/*/.terraform.tfstate.lock.info
.DS_Store
terraform/*/resources/dummy-file-from-s3.txt
.idea
*delete-me*
terraform/*/resources/dummy-file-from-minio.txt
*.venv
*.python-version
*uv.lock