terraform/*/.terraform
terraform/*/.terraform.lock.hcl
terraform/*/terraform.tfstate
terraform/*/terraform.tfstate.backup
.DS_Store
terraform/*/resources/dummy-file-from-s3.txt
terraform/terraform_with_aws/terraform.tfstate.d
.idea
*delete* 
terraform/terraform_with_aws/.terraform.tfstate.lock.info
